nav {
  color: #FFFFFF;
  background-color: transparent;
  font-family: "Bungee";
  height: 120px;
  width: 100%;
  font-size: xx-large;
  padding: 1.5em;

  position: absolute;
  top: 0;
  display: none;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
 }

.writeTweet {
  font-family: "Source Sans Pro";
  flex-direction: column;
  font-size: 0.75em
 }

  /* drop down arrow in nav */
  .drop-down-arrow {
    height: 25px;
    width: 20px;

    margin-top: 10px;
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  /* Animation for arrow */
  @keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-8px); }
  }

 @media only screen and (min-width: 1024px) {
   nav {
    background-color: #4056A1;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 2;
   }
}